/* important position properties */
/* 1. document flow */
/* 2. positioning context */

/* position rules */
/* 1. default is position static */
/* 2. position is appliable to inline and block element both */
/* 3. top, right, bottom, left works only for position NOT static, default */
/* 4. z-index work only for position NOT static, default */

/* position: fixed */
/* 1. out of document flow */
/* 2. inline-block behavior */
/* 3. positioning context is viewport ( = browser screen) */

/* position: absolute */
/* 1. out of document flow */
/* 2. position context is */
/* 2.1. html element in case no anscestor element has position prop, NOT default, static */
/* 2.2. the first anscestor element which has position prop, NOT default, static */

/* position: relative */
/* 1. stay inside of document flow */
/* 2. position context is original document flow position */
/* 3. top, right, bottom, left prop can work */

/* position sticky */
/* mix of relative and fix */
/* 1. stay with document flow like relative, then at the border, it stays, behaves like fixed */
/* 2. positioning context is viewport */

* {
  box-sizing: border-box;
}

html {
  background: #b3b3b3;
  padding: 15px;
  border: 5px solid white;
  margin: 15px;
  height: 2000px;
}

body {
  background: #fa923f;
  padding: 20px;
  border: 5px solid black;
  margin: 0;
}

.parent {
  background: white;
  padding: 20px;
  border: 5px solid black;
  margin: 0;
}

.parent div {
  background: rgb(105, 105, 109);
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

.parent .child-1 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
}
